@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-black: #0F0F0F;
  --color-white: #F5F5F5;
  --color-customNeutral: #6F7F97;
  --color-primary: #0057B8;
  --color-secondary: #048AD1;
  --color-tertiary: #3379C6;
  --color-accent: #FFD54F;
  /* --font-size-largest: 3.875rem;
  --font-size-4xl: 3.0rem;
  --font-size-3xl: 2.5rem;
  --font-size-2xl: 2.0rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1.0rem;
  --font-size-sm: 0.75rem; */
}

.custom-container {
  @apply max-w-[1440px] xl:px-12 xl:py-12 md:px-6 md:py-6 lg:px-8 lg:py-8 py-4 px-4 mx-auto;
}